{{define "content"}}
    <h1>Welcome, Guest User!</h1>
    <p>
        Please click the <a href="/docs">Documentation</a> link to view the documentation.
    </p>
    <p>
        If you would like to create an account,
        please click the <a href="/signup">Signup</a> link.
    </p>
    <footer>
        <p class="box warn">
            <strong>Warning</strong>: your access cookie will be deleted when you close your browser.
        </p>
    </footer>
{{end}}