{{define "layout"}}{{- /*gotype:github.com/mdhender/wraithi/internal/wraith.Payload*/ -}}<!DOCTYPE html>
<html lang="en">
{{template "head" .Site}}
<body hx-boost="true">
{{template "site_header" .Site}}
<main>
    {{template "content" .Content}}
</main>
{{template "site_footer" .Site}}
</body>
</html>
{{end}}