{{define "navbar"}}{{- /*gotype:github.com/mdhender/wraithi/internal/wraith.NavBarData*/ -}}
<nav>
    <ul>{{range .Links }}<a href="{{.Url}}">{{.Text}}</a>{{end}}
        <a href="/welcome">Welcome</a>
        <a href="/guest">Guest</a>
    </ul>
</nav>
{{end}}