{{define "content"}}
    <form class="table rows" action="/signin" method="post">
        <p><label for="email">E-mail</label> <input id="email" type="email" name="email" value="user@example.com"></p>
        <p><label for="password">Password</label> <input id="password" type="password" name="password" value="password"></p>
        <button>Sign In</button>
    </form>
{{end}}