{{define "site_footer"}}{{- /*gotype:github.com/mdhender/wraithi/internal/wraith.SiteData*/ -}}
<footer>
    <p>
        <a href="/privacy">Privacy</a>
        ・ <a href="/version">Version {{.Version}}</a>
        ・ Copyright &copy; {{.Copyright.Year}} {{.Copyright.Author}} - All rights reserved
        ・ <a href="/signout">Sign Out</a>
    </p>
</footer>
{{end}}